.header, .footer {
    background-color: #1F2937;
}

.second-section {
    background-color: #E5E7EB;
}

.third-section {
    background-color: #3882F6;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    font-weight: 700;
}

.first-section img {
    border: 5px solid #3882F6;
}

.button-two {
    border-color: #F9FAF8;
}

.header-logo, .para-header,
.third-section, .footer {
    color: #F9FAF8;
}

a, .header .para {
    color: #E5E7EB;
}

.first-section, .first-section .para,
.second-section {
    color: #1F2937;
}

.header-logo, .para-header,
.section-header, .facts-header,
.author {
    font-weight: 800;
}

.header-logo {
    font-size: 24px;
}

.para-header {
    font-size: 48px;
}

a, .header .para {
    font-size: 18px;
}

.section-header, .quote {
    font-size: 36px;
}

.facts-header {
    font-size: 22px;
}

.quote {
    font-weight: 100;
    font-style: italic;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}