body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.header, .footer {
    background-color: #1F2937;
}

.second-section {
    background-color: #E5E7EB;
    padding: 100px 0 75px 0;
}

.third-section {
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    margin: 75px 200px;
    padding: 30px 80px;
    text-align: start;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    font-weight: 700;
    padding: 5px 20px;
}

.first-section img {
    border: 5px solid #3882F6;
    border-radius: 20px;
    width: 300px;
    height: auto;
}

.button-two {
    border-color: #F9FAF8;
}

.top-header .title,
.bottom-header .title,
.third-section, .footer {
    color: #F9FAF8;
}

a,
.header .para {
    color: #E5E7EB;
    font-size: 18px;
}

.first-section, .second-section,
.first-section .para {
    color: #1F2937;
}

.title {
    font-weight: 800;
}

.top-header .title {
    font-size: 24px;
}

.bottom-header .title {
    font-size: 48px;
}

.first-section .title,
.quote {
    font-size: 36px;
}

.facts .title {
    font-size: 22px;
}

.quote {
    font-weight: 100;
    font-style: italic;
    color: #3e4d61;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}

button, .third-section {
    border-radius: 5px;
}

.top-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
    align-items: center;
}

.bottom-header {
    display: flex;
    padding: 100px 200px;
}

ol {
    display: flex;
    margin: 0 200px 100px 200px;
    padding: 0;
    gap: 52px;
}

ol li {
    max-width: 500px;
}

.second-section .title {
    margin-left: 400px;
}

.footer {
    padding: 30px;
}