* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(
        to right,
        #056888 0%,
        #056888 50%,
        #ea9926 50%,
        #ea9926 100%
    );
}

.title {
    color: white;
}