* {
    margin: 0;
}

body {
    background: linear-gradient(
        to right,
        #056888 0%,
        #056888 50.25%,
        #ea9926 50.25%,
        #ea9926 100%
    );
    font-family: Verdana, sans-serif;
    text-align: center;
}

.title {
    color: white;
    font-weight: 700;
}

.top .title {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 32px;
}

.movie div,
.egg .para,
.item .para {
    font-size: 18px;
}

.easter .title,
.mistake .title {
    font-size: 36px;
}

.egg .title,
.item .title,
.next {
    font-size: 24px;
}

.footer a {
    font-size: 20px;
}

.copyright {
    font-weight: 700;
}

a {
    color: black;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie {
    max-width: 400px;
}

.middle img {
    width: 300px;
    height: auto;
}